
<div class='container'>

  <img src="img/ARIA_RGB-01.png" style="max-height:200px">
  <h1>2020 ARIA Award Winners</h1>

  <div class="award">
    <h2 class="award-name">Casualty Actuarial Society Award</h2>
    <p class="paper-title">Methodological Considerations in Statistical Modeling of Cat Bond Prices</p>
    <p class="award-recipient">John Major, Guy Carpenter</p>
  </div>

  <div class="award">
    <h2 class="award-name">Early Career Scholarly Achievement Award</h2>
    <p class="award-description">Distinguished achievement by a risk management and insurance scholar who is within 10 years of award of a Ph.D.</p>
    <p class="award-recipient">Professor Richard Peter, University of Iowa</p>
  </div>

  <div class="award">
    <h2 class="award-name">Hagen Family Foundation Travel Award</h2>
    <p class="award-description">Travel stipend in support of an annual meeting presenter</p>
    <p class="paper-title">Conditional Conservatism, Regulation, and Insolvency Risk</p>
    <p class="award-recipient">Juan Zhang, Temple University</p>
  </div>

  <div class="award">
    <h2 class="award-name">Kulp-Wright Book Award</h2>
    <p class="award-description">Recognize a risk management and insurance book or monograph that advances the body of knowledge towards new frontiers</p>
    <p class="book-title">Pricing Lives: Guideposts for a Safer Society</p>
    <p class="book-publisher">Princeton University Press (May 15, 2018)</p>
    <p class="award-recipient">Kip Viscusi, Vanderbilt University</p>
  </div>

  <div class="award">
    <h2 class="award-name">Patrick Brockett & Arnold Shapiro Actuarial Journal Award</h2>
    <p class="award-description">Outstanding contribution to the literature of risk management and insurance published two years prior in Variance or in the North American Actuarial Journal</p>
    <p class="paper-title">Machine Learning Methods to Perform Pricing Optimization: A Comparison with Standard Generalized Linear Models</p>
    <p class="award-recipient">Giorgio Alfredo Spedicato, UnipolSai Assicurazioni SpA</p>
    <p class="award-recipient">Christopher Dutang, Universit&eacute; Paris Dauphine</p>
    <p class="award-recipient">Leonardo Petrini, Ecole polytechnique f&eacute;d&eacute;rale de Lausanne</p>
  </div>

  <div class="award">
    <h2 class="award-name">RMIR Award for Best Article</h2>
    <p class="award-description">Best article published in the Risk Management and Insurance Review</p>
    <p class="paper-title">The Governance of Risk Management: The Importance of Directors' Independence and Financial Knowledge</p>
    <p class="award-recipient">Georges Dione, HEC Montreal</p>
    <p class="award-recipient">Olfa Maalaoui Chun, Bloomberg LP, NY</p>
    <p class="award-recipient">Thouraya Triki, International Fund for Agriculture Development</p>
  </div>

  <div class="award">
    <h2 class="award-name">Robert C. Witt Award</h2>
    <p class="award-description">Outstanding feature article in the Journal of Risk and Insurance</p>
    <p class="paper-title">2019. Effects of Prescription Drug Coverage on Hospitalization And Mortality:  Evident from Medicare Part D. 86(3): 595-629</p>
    <p class="award-recipient">Robert Kaestner, University of Chicago</p>
    <p class="award-recipient">Cuiping Schiman, Georgia Southern University</p>
    <p class="award-recipient">G. Caleb Alexander, Johns Hopkins Bloomberg School of Public Health</p>
  </div>

  <div class="award">
    <h2 class="award-name">Robert I. Mehr Award</h2>
    <p class="award-description"></p>
    <p class="paper-title">Testing for Adverse Selection in Insurance Markets, JRI (2010)</p>
    <p class="award-recipient">Alma Cohen, Harvard University</p>
    <p class="award-recipient">Peter Siegelman, University of Connecticut Law School</p>
  </div>

  <div class="award">
    <h2 class="award-name">President's Award</h2>
    <p class="award-description">In recognition and appreciation for commitment and dedicated services to the Association</p>
    <p class="paper-title"></p>
    <p class="award-recipient">To be announced...</p>
  </div>

</div>