
<div class='container research-forum'>
  <h1>Research Session Forums</h1>

  <h2>Monday, August 3, 9.00 Eastern</h2>
  <div class="container">
    <div>
      <h3>Session 1: Accounting</h3>
      <h4>Moderators: David Eckles, University of Georgia (<a href="mailto:deckles@uga.edu">deckles@uga.edu</a>) and Mary Kelly, Wilfrid Laurier (<a href="mkelly@wlu.ca")>mkelly@wlu.ca</a>)</h4>
    </div>
    <div>
      <h3>Session 2: Actuarial Science - Life, Retirement, Longevity </h3>
      <h4>Moderators: Dani Bauer, University of Wisconsin-Madison (<a href="mailto:daniel.bauer@wisc.edu">daniel.bauer@wisc.edu</a>) and Katja Hanewald, UNSW Sydney (<a href="mailto:k.hanewald@unsw.edu.au">k.hanewald@unsw.edu.au</a>)</h4>
    </div>
    <div>
      <h3>Session 3: Agent Preferences</h3>
      <h4>Moderators: Richard Peter, University of Iowa (<a href="mailto:richard-peter@uiowa.edu">richard-peter@uiowa.edu</a>) and Petra Steinorth, Universit&auml;t Hamburg (<a href="mailto:petra.steinorth@uni-hamburg.de">petra.steinorth@uni-hamburg.de</a>)</h4>
    </div>
    <div>
      <h3>Session 8: Corporate Finance</h3>
      <h4>Moderators: Anne Kleffner, University of Calgary (<a href="mailto:anne.kleffner@haskayne.ucalgary.ca">anne.kleffner@haskayne.ucalgary.ca</a>) and Greg Niehaus, University of South Carolina (<a href="mailto:gregn@moore.sc.edu">gregn@moore.sc.edu</a>)</h4>
    </div>
    <div>
      <h3>Session 13: Insurance Market Performance</h3>
      <h4>Moderators: Mark Browne, St. John's University (<a href="mailto:brownem1@stjohns.edu">brownem1@stjohns.edu</a>) and Lars Powell, University of Alabama (<a href="mailto:LARS.POWELL@CBA.UA.EDU">lars.powell@cba.ua.edu</a>)</h4>
    </div>
  </div>

  <h2>Thursday, August 6, 9.00 Eastern</h2>
  <div class="container">
    <div>
      <h3>Session 5: Asymmetric Information</h3>
      <h4>Moderators: Casey Rothschild, Wellesley (<a href="mailto:crothsch@wellesley.edu">crothsch@wellesley.edu</a>) and Alexander Muermann, Vienna University of Economics and Business (<a href="mailto:Alexander.Muermann@wu.ac.at">alexander.muermann@wu.ac.at</a>)</h4>
    </div>
    <div>
      <h3>Session 6: Behavioral Insurance</h3>
      <h4>Moderators: Glenn Harrison, Georgia State University (<a href="mailto:gharrison@gsu.edu">gharrison@gsu.edu</a>) and Jacqueline Volkman-Wise, Temple University (<a href="mailto:JACQUELINE.WISE@TEMPLE.EDU">jaqueline.wise@temple.edu</a>)</h4>
    </div>
    <div>
      <h3>Session 7: Catastrophe Risk</h3>
      <h4>Moderators: Patty Born, Florida State University (<a href="mailto:pborn@business.fsu.edu">pborn@business.fsu.edu</a>) and Benjamin Collier, Temple University (<a href="mailto:tug85591@temple.edu">tug85591@temple.edu</a>)</h4>
    </div>
    <div>
      <h3>Session 9: Finance</h3>
      <h4>Moderators: Jim Garven, Baylor University (<a href="mailto:James_Garven@baylor.edu">james_garven@baylor.edu</a>) and Annette Hoffman, St. John's University (<a href="mailto:hofmanna@stjohns.edu">hofmanna@stjohns.edu</a>)</h4>
    </div>
    <div>
      <h3>Session 11: Insurance Company Operations</h3>
      <h4>Moderators: Andre Liebenberg, University of Mississippi (<a href="mailto:aliebenberg@bus.olemiss.edu">aliebenberg@bus.olemiss.edu</a>) and Joan Schmit, University of Wisconsin-Madison (<a href="mailto:joan.schmit@wisc.edu">joan.schmit@wisc.edu</a>)</h4>
    </div>
  </div>

  <h2>Friday, August 7, 9am Eastern</h2>
  <div class="container">
    <div>
      <h3>Session 4: Analytics, Cyber, InsurTech</h3>
      <h4>Moderators: Martin Eling, St. Gallen University (<a href="mailto:martin.eling@unisg.ch">martin.eling@unisg.ch</a>) and Yayuan Ren, Illinois State University (<a href="mailto:yren2@ilstu.edu">yren2@ilstu.edu</a>)</h4>
    </div>
    <div>
      <h3>Session 10: Health</h3>
      <h4>Moderators: Justin Sydnor, University of Wisconsin-Madison (<a href="mailto:justin.sydnor@wisc.edu">justin.sydnor@wisc.edu</a>) and Nicolas Ziebarth, Cornell University (<a href="mailto:nrz2@cornell.edu">nrz2@cornell.edu</a>)</h4>
    </div>
    <div>
      <h3>Session 12: Insurance Economics</h3>
      <h4>Moderators: Hato Schmeiser, St. Gallen University (<a href="mailto:hato.schmeiser@unisg.ch">hato.schmeiser@unisg.ch</a>) and Christian Biener, St. Gallen University (<a href="mailto:christian.biener@unisg.ch">christian.biener@unisg.ch</a>)</h4>
    </div>
    <div>
      <h3>Session 14: Longevity, Long-Term Care, Life Annuities & Retirement</h3>
      <h4>Moderator: Martin Boyer, HEC Montreal (<a href="mailto:martin.boyer@hec.ca">martin.boyer@hec.ca</a>); Steven Fier, University of Mississippi (<a href="mailto:sfier@bus.olemiss.edu">sfier@bus.olemiss.edu</a>); Christophe Courbage, Geneva School of Business Administration (<a href="mailto:christophe.courbage@hesge.ch">christophe.courbage@hesge.ch</a>); Joerg Schiller, University of Honenheim (<a href="mailto:j.schiller@uni-hohenheim.de">j.schiller@uni-hohenheim.de</a>); and David McCarthy, University of Georgia (<a href="mailto:dmccarth@uga.edu">dmccarth@uga.edu</a>)</h4>
    </div>
    <div>
      <h3>Session 15: Regulation, Solvency, Public Policy</h3>
      <h4>Moderators: Martin Grace, Georgia State University (<a href="mailto:mgrace@temple.edu">mgrace@temple.edu</a>) and Sharon Tennyson, Cornell University (<a href="mailto:sharon.tennyson@cornell.edu">sharon.tennyson@cornell.edu</a>)</h4>
    </div>
  </div>
</div>