<div ng-controller="IndexController">

  <div>
    <img class="img-fullscreen-logo" src="img/sa_logo.png">
  </div>

  <!--<div class="container-fluid">-->
    <!--&lt;!&ndash; Main Page Navigation Bar &ndash;&gt;-->
    <!--<div class="row">-->
      <!--<div class="col-md-4">-->
        <!--<img class="logo logo-main" src="img/stites_logo_2.png" alt="Stites Architecture">-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->

  <!--<div class="slideshow"-->
       <!--sketch-slideshow-->
       <!--data-cycle-center-horz=true-->
       <!--data-cycle-center-vert=true>-->
    <!--<img class="slide" ng-src="{{image}}" ng-repeat="image in sketches" />-->
  <!--</div>-->


  <!--<div class="container-fluid">-->
    <!--&lt;!&ndash; Main Page Navigation Bar &ndash;&gt;-->
    <!--<div class="row" style="height:20vh;">-->
      <!--<div class="col-md-4">-->
        <!--<img class="logo logo-main" src="img/stites_logo.png" alt="Stites Architecture">-->
      <!--</div>-->
    <!--</div>-->

    <!--&lt;!&ndash; Main Page Image &ndash;&gt;-->
    <!--<div class="row" style="height:60vh;">-->
      <!--<img class="img-main-page" src="img/stites_arch_demo3.png" alt="Sketch 1">-->
    <!--</div>-->

    <!--&lt;!&ndash; Main Page Scroller Images (associated with current main page image)&ndash;&gt;-->
    <!--<div class="row" style="height:20vh;">-->
      <!--<div class="col-md-3">-->
        <!--<img class="logo" src="img/stites_logo.png" alt="Stites Architecture">-->
      <!--</div>-->
      <!--<div class="col-md-1"></div>-->
      <!--<div class="col-md-3">-->
        <!--<img class="logo" src="img/stites_logo.png" alt="Stites Architecture">-->
      <!--</div>-->
      <!--<div class="col-md-1"></div>-->
      <!--<div class="col-md-3">-->
        <!--<img class="logo" src="img/stites_logo.png" alt="Stites Architecture">-->
      <!--</div>-->
      <!--<div class="col-md-1"></div>-->
    <!--</div>-->

  <!--</div>-->
</div>