<div class='container'>
  <!-- Set hidden-xs if you want this section to disappear when screen size is xs -->
  <div class="container">
    <h1>The WRIEC Mission</h1>
  </div>
  <div class="container">
    <div class='row'>
      <div class='col-md-4'>
        <h3><i class='fa fa-diamond fa-lg brand'></i> Yadda</h3>
        <p class="p-tall">
          Interesting statements.
        </p>
      </div>
      <div class='col-md-4'>
        <h3><i class="fa fa-share-alt fa-lg brand"></i> YADDA</h3>
        <p class="p-tall">
          More interesting statements.
        </p>
      </div>
      <div class='col-md-4'>
        <h3><i class="fa fa-cogs fa-lg brand"></i> yadda</h3>
        <p class="p-tall">
          A lot more interesting statements.
        </p>
      </div>
    </div>
  </div>
</div>