
<div class='container'>
  <h1>Plenaries</h1>
  <h2>Geneva Risk Economics Lecture</h2>
  <p>The virtual video conference information was provided in an email through the registration process. Please see the email for more information and a link to the virtual video conference.</p>
  <h2>Editors Roundtable</h2>
  <p>The virtual video conference information was provided in an email through the registration process. Please see the email for more information and a link to the virtual video conference.</p>
  <h2>Leadership Perspective: Global Pandemic</h2>
  <p>The International Insurance Society (IIS) is sharing their <a href="https://www.internationalinsurance.org/IIS-Webinars-Global-Pandemic" class=".brand3"> Global Pandemic Webinars</a> with all WRIEC registrants. </p>
</div>