
<div class='container'>
  <h1>Plenaries</h1>

  <h2>Editors Roundtable</h2>
  <h4>Tuesday, August 4, 2020</h4>
  <h4>09.30am US Eastern Time (Central European Time: 15.30, China Standard Time: 21.30)</h4>
  <ul>
    <li><a href="https://wsb.wisc.edu/directory/faculty/joan-schmit">Joan Schmit</a>, <a href="https://jri.pub/">Journal of Risk and Insurance</a></li>
    <li><a href="https://business.fsu.edu/person/patricia-born">Patricia Born</a>, <a href="https://onlinelibrary.wiley.com/journal/15406296">Risk Management and Insurance Review</a></li>
    <li><a href="https://www.wu.ac.at/en/finance/people/faculty/alexander-muermann">Alexander Muermann</a> & <a href="https://www.wellesley.edu/economics/faculty/rothschildc">Casey Rothschild</a>, <a href="https://www.palgrave.com/us/journal/10713">Geneva Risk and Insurance Review</a></li>
    <li><a href="https://christophecourbage.wordpress.com/">Christophe Courbage</a>, <a href="https://www.palgrave.com/us/journal/41288">Geneva Papers on Risk and Insurance  - Issues and Practice</a></li>
  </ul>
  <p>The virtual video conference information was provided in an email through the registration process. Please see the email for more information and a link to the virtual video conference.</p>

  <h2>Geneva Risk Economics Lecture</h2>
  <h4>Wednesday, August 5, 2020</h4>
  <h4>09.30am US Eastern Time (Central European Time: 15.30, China Standard Time: 21.30)</h4>
  <p><a href="https://sites.google.com/site/motohiroyogo/">Motohiro Yogo</a> (Princeton University) will deliver the 32nd Geneva Risk Economics Lecture and <a href="https://sc.edu/study/colleges_schools/moore/directory/niehaus_gregory.php">Gregory Niehaus</a> (University of South Carolina) will discuss the lecture. The Geneva Risk Economics Lecture will take place live via Zoom. The virtual video conference information was provided in an email through the registration process. Please see the email for more information and a link to the virtual video conference.</p>
  <p>The topic is "Risk of Life Insurers" (<a href="https://papers.ssrn.com/sol3/papers.cfm?abstract_id=2961089">associated paper</a>).</p>
  <ul>
    <li>Welcome remarks by <a href="http://www.fin.ntu.edu.tw/~tzeng/">Larry Tzeng</a> (EGRIE's president)</li>
    <li>Welcome remarks by The Geneva Association</li>
    <li>40 - 60 minutes lecture by <a href="https://sites.google.com/site/motohiroyogo/">Motohiro Yogo</a></li>
    <li>15 - 20 minutes discussion of the lecture by <a href="https://sc.edu/study/colleges_schools/moore/directory/niehaus_gregory.php">Gregory Niehaus</a></li>
    <li>15 - 20 minutes open discussion with the audience</li>
  </ul>

  <h2>Leadership Perspective: Global Pandemic</h2>
  <p>The International Insurance Society (IIS) is sharing their Global Pandemic Webinars with all WRIEC registrants. A link to the sessions was provided in an email during the registration process.</p>
</div>