
<div class='container awards'>

  <h2>Recordings of Live Sessions</h2>

  <ul>
    <li>Research Forums</li>
    <ul>
      <li>Session 1: <a href="https://player.vimeo.com/video/446630251">Accounting</a></li>
      <li>Session 2: <a href="https://player.vimeo.com/video/445299394">Actuarial Science - Life, Retirement, Longevity</a></li>
      <li>Session 3: <a href="https://player.vimeo.com/video/446592838">Agent Preferences</a></li>
      <li>Session 4: <a href="https://player.vimeo.com/video/445623880">Analytics, Cyber, InsurTech</a></li>
      <li>Session 5: <a href="https://player.vimeo.com/video/445291100">Asymmetric Information</a></li>
      <li>Session 6: <a href="https://player.vimeo.com/video/446592260">Behavioral Insurance</a></li>
      <li>Session 7: <a href="https://player.vimeo.com/video/445291099">Catastrophe Risk</a></li>
      <li>Session 8: <a href="https://player.vimeo.com/video/446821716">Corporate Finance</a></li>
      <li>Session 9: <a href="https://player.vimeo.com/video/445291101">Finance</a></li>
      <li>Session 10: <a href="https://player.vimeo.com/video/446626999">Health</a></li>
      <li>Session 11: <a href="https://player.vimeo.com/video/446821729">Insurance Company Operations</a></li>
      <li>Session 12: <a href="https://player.vimeo.com/video/445590812">Insurance Economics</a></li>
      <li>Session 13: <a href="https://player.vimeo.com/video/445300717">Insurance Market Performance</a></li>
      <li>Session 14: <a href="https://player.vimeo.com/video/445701086">Longevity, Long-Term Care, Life Annuities & Retirement</a></li>
      <li>Session 15: <a href="https://player.vimeo.com/video/446821745">Regulation, Solvency, Public Policy</a></li>
    </ul>
    <li><a href="https://player.vimeo.com/video/445293441">Editor's Roundtable</a></li>
    <li><a href="https://player.vimeo.com/video/445291086">Geneva Lecture</a></li>
    <li><a href="https://player.vimeo.com/video/446867068">ARIA Awards and Presidential Address</a></li>
  </ul>

</div>