
<div class='container welcome'>
  <h1>Schedule of Live Events</h1>
  <div class="schedule">

    <h2>Monday</h2>
    <h3>9.00am US Eastern Time (Central European Time: 15:00, China Standard Time: 21.00) <a href="/#/rf">Research Forums</a></h3>
    <ul>
      <li>Session 1: Accounting</li>
      <li>Session 2: Actuarial Science </li>
      <li>Session 3: Agent Preferences</li>
      <li>Session 8: Corporate Finance</li>
      <li>Session 13: Insurance Market Performance</li>
    </ul>

    <h2>Tuesday</h2>
    <h3>9.30am US Eastern Time (Central European Time: 15:30, China Standard Time: 21.30) Editors Roundtable</h3>

    <h2>Wednesday</h2>
    <h3>9.30am US Eastern Time (Central European Time: 15:30, China Standard Time: 21.30) Geneva Risk Economics Lecture</h3>

    <h2>Thursday</h2>
    <h3>9.00am US Eastern Time (Central European Time: 15:00, China Standard Time: 21.00) <a href="/#/rf">Research Forums</a></h3>
    <ul>
      <li>Session 5: Asymmetric Information</li>
      <li>Session 6: Behavioral Insurance </li>
      <li>Session 7: Catastrophe Risk</li>
      <li>Session 8: Finance</li>
      <li>Session 13: Insurance Company Operations</li>
    </ul>

    <h2>Friday</h2>
    <h3>9.00am US Eastern Time (Central European Time: 15:00, China Standard Time: 21.00) <a href="/#/rf">Research Forums</a></h3>
    <ul>
      <li>Session 4: Analytics, Cyber, InsurTech</li>
      <li>Session 10: Health</li>
      <li>Session 12: Insurance Economics</li>
      <li>Session 14: Longevity, Long-Term Care, Life Annuities, & Retirement</li>
      <li>Session 15: Regulation, Solvency, Public Policy</li>
    </ul>

  </div>
</div>