
<div class='container'>
  <h1>Sponsors</h1>
  <p>Thank you for your support!</p>
  <div class="row sponsor">
    <div class="col-md-5 sponsor-bronze">
      <div class="container">
        <h3>Bronze - $3000</h3>
        <h4>The Insurance Institute of Canada</h4>
        <img class="container-vertical" src="img/iic.jpg">
      </div>
    </div>
    <div class="col-md-5 sponsor-supporter1000">
      <div class="container">
        <h3>Supporter - $1000</h3>
        <h4>California State University, Fullerton</h4>
        <img class="container-vertical" src="img/fullerton.png">
      </div>
    </div>
  </div>
  <div class="row sponsor">
    <div class="col-md-5 sponsor-supporter1000">
      <div class="container">
        <h3>Supporter - $1000</h3>
        <h4>University of Nebraska, Lincoln</h4>
        <img class="container-vertical" src="img/lincoln.jpg">
      </div>
    </div>
    <div class="col-md-5 sponsor-supporter500">
      <div class="container">
        <h3>Supporter - $500</h3>
        <h4>The University of North Carolina at Charlotte</h4>
        <img class="container-vertical" src="img/charlotte.jpg">
      </div>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>