
<div class='container'>
  <h1>The Team</h1>
  <p>The virtual WRIEC conference was made possible by the following team:</p>
  <ul>
    <li>Tyler Leverty, Vice President of ARIA, WRIEC Program Chair, University of Wisconsin-Madison</li>
    <li>Martin Grace, President of ARIA, Temple University </li>
    <li>Susan Rose Scileppi, Student Assistant (future risk and insurance PhD student, hopefully!), Temple University </li>
    <li>Trevor Gile: Engineer, WRIEC Web Developer (<a href="mailto:sleuthg@gmail.com">contact him</a> if you like this website and you need one for your conference)</li>
  </ul>
</div>