
<div class='container welcome'>
  <h1>Welcome</h1>
  <p>
    Welcome to the 4th World Risk and Insurance Economics Congress (WRIEC). The conference happens only once every five
    years and it combines three separate annual conferences: the American Risk and Insurance Association (<a href="http://aria.org">ARIA</a>), the
    European Group of Risk and Insurance Economists (<a href="http://egrie.org">EGRIE</a>), and the Asia Pacific Risk and Insurance Association (<a href="http://www.scicollege.org.sg/apria.asp">APRIA</a>). The
    host rotates every 5 years and WRIEC 2020 is hosted by ARIA.
  </p>
  <p>
    The in-person meeting of the WRIEC was scheduled for August 2-6 in New York City. Due to Coronavirus, the in-person
    meeting was canceled in late May and the conference is now virtual. This online program allows registered conference participants
    to access papers, videos, slides, and more. There are <a href="/#/p">3 plenaries</a>, <a href="/#/rs">15 research sessions</a>, and <a href="/#/ts">1 teaching session</a>. In
    addition to the recorded content, there are 3 days of live <a href="/#/rf">research forums</a> accessible through Zoom.
  </p>

  <p style="font-weight:bold;font-size:medium;padding-top:10px;" class="brand2"><em>Join us at WRIEC 2020 for these LIVE events!</em></p>
  <p style="font-size:small;">Scroll down for further details.</p>
  <div style="max-width:600px;">
    <table class="table wriec-content">
      <tbody>
      <tr>
        <th scope="row"><a href="/#/rf">Research Forums</a></th>
        <td>August 3, 6, & 7 at 9:00am US Eastern Time</td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">ARIA Members Only Meeting</th>
        <td>August 3 at 4:30pm US Eastern Time</td>
      </tr>
      <tr>
        <th scope="row"><a href="/#/p">Editor's Roundtable</a></th>
        <td>August 4 at 9:30am US Eastern Time</td>
      </tr>
      <tr>
        <th scope="row"><a href="/#/p">Geneva Lecture</a></th>
        <td>August 5 at 9:30am US Eastern Time</td>
      </tr>
      </tbody>
    </table>
  </div>

  <p style="font-weight:bold;font-size:medium;padding-top:10px;" class="brand2"><em>View at Your Own Pace!</em></p>
  <div style="max-width:800px;">
    <table class="table wriec-content">
      <tbody>
      <tr>
        <th scope="row"><a href="/#/rs">Research Sessions</a></th>
        <td>189 papers in 15 topic areas, each with short video, long video, and discussant video</td>
        <td></td>
      </tr>
      <tr>
        <th scope="row"><a href="/#/p">Leadership Perspective</a></th>
        <td>International Insurance Society Webinars: Executive Roundtables on COVID-19</td>
      </tr>
      </tbody>
    </table>
  </div>


  <h1>Host Association</h1>
  <p>Founded in 1932, ARIA has a long tradition of supporting and educating professionals, scholars, and students in the insurance and risk management industry. We create opportunities to share and discuss high quality research, recognizing scholars from diverse backgrounds engaged in open collaboration strengthen our industry and our society. In the spirit of open collaboration and sharing, we host an Annual Meeting, which brings together a large and diverse group of experts to share and discuss cutting-edge research in risk management and insurance.  Additionally, we publish two peer review journals. This open sharing of knowledge and information helps policy makers and practitioners learn from the past, mitigate present risk, and confidently make decisions.</p>
</div>